body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#sidebar-section {
    flex: 1 1 calc(100%/3);
    background-position: center;
    background-size: cover;
    /* background-image: url("urlhere");  */
    background-color: red;
}
#main {
    flex: 1 1 calc(100%*2/3);
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero-text {
    padding-left: 1rem;
    text-align: left;
    width: 75%;
    margin: 1rem 0;
}

form {
    background-color: green;
    padding: 1rem;
}
label {
    font-size: 0.8rem;
    font-weight: 700;
}
.container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
#button {
    padding-left: 1rem;
    padding-top: 1rem;
}
h2 {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.25rem;
}